body {
    background-color: var(--stone-100);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-1600) var(--spacing-600);
}

article.card {
    background-color: var(--white);
    border-radius: var(--spacing-300);
    padding: var(--spacing-500);
    width: 46rem; /* 736px */
}

img{
    border-radius: var(--spacing-150);
    height:18.75rem; /* 300px */
}