:root {
    /* colors */
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;
    /* spacing */
    --spacing-1600: 8rem;
    --spacing-600: 3rem;
    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    /* font-size / desktop */
    --text-preset-1: 2.5rem;
    --text-preset-2: 1.75rem;
    --text-preset-3: 1.25rem;
    --text-preset-4: 1rem;
    /* font-size / mobile */
    --text-preset-mobile: 2.25rem;
}